### Задание

Имеются данные adult.csv (см. в материалах к занятию).
Целевой переменной является уровень дохода income (крайний правый столбец).
Описание признаков можно найти по ссылке www.cs.toronto.edu...etail.html
Вам необходимо построить модели логистической регрессии и SVM, которые предсказывает уровень дохода человека.
Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.
Готовый ноутбук выложить на гитхаб и прислать ссылку.

In [1]:
import pandas as pd 
import scipy.stats

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [19]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler

In [10]:
data = pd.read_csv(r'd:\Workspace\ML\adult.csv')

In [61]:
datas = data.drop(columns = ['fnlwgt', 'education', 'income'])
datas.head()

,age,workclass,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,18,?,10,Never-married,?,Own-child,White,Female,0,0,30,United-States

In [36]:
X = pd.get_dummies(datas, columns = ['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country'])
y = data['income']

### Логистическая регрессия

In [47]:
model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [54]:
model.predict(X_test)

array(['<=50K', '<=50K', '>50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [55]:
model.score(X_train, y_train)

0.8510339582906783

In [56]:
model.score(X_test,y_test)

0.8577083191155395

### SVM

In [57]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [58]:
clf.score(X_train, y_train)

0.856474304600895

In [60]:
clf.score(X_test, y_test)

0.855592711390159