### Задание 1

In [1]:
import pandas as pd

In [65]:
data_rate = pd.read_csv(r'D:\Workspace\ratings.csv')

In [88]:
avg_rtg = data_rate.groupby('movieId').mean().reset_index()

In [90]:
def rtg(param):
    if param <= 2:
        return 'низкий рейтинг'
    elif param <= 4.4:
         return 'средний рейтинг'
    else:  return 'высокий рейтинг'

In [91]:
avg_rtg['lmh_rtg'] = avg_rtg['rating'].apply(rtg)

In [92]:
avg_rtg[['movieId','rating','lmh_rtg']].head()

   movieId    rating          lmh_rtg
0        1  3.920930  средний рейтинг
1        2  3.431818  средний рейтинг
2        3  3.259615  средний рейтинг
3        4  2.357143  средний рейтинг
4        5  3.071429  средний рейтинг

In [101]:
data_mov = pd.read_csv(r'D:\Workspace\movies.csv')
title = avg_rtg.merge(data_mov, how = 'left', on='movieId')

In [111]:
title[['title','rating','lmh_rtg']].sample(10)

                                            title    rating          lmh_rtg
5738                    Little Miss Marker (1980)  4.000000  средний рейтинг
3203                             Rio Bravo (1959)  3.666667  средний рейтинг
4451  Private Life of Sherlock Holmes, The (1970)  2.500000  средний рейтинг
8136               Bill Hicks: Revelations (1993)  5.000000  высокий рейтинг
1326         Love and Death on Long Island (1997)  3.000000  средний рейтинг
7122       Blood Creek (a.k.a. Town Creek) (2009)  3.000000  средний рейтинг
3624            Bill & Ted's Bogus Journey (1991)  3.075000  средний рейтинг
5689   Ong-Bak: The Thai Warrior (Ong Bak) (2003)  4.000000  средний рейтинг
7941                          Hope Springs (2012)  1.000000   низкий рейтинг
4715              Witches of Eastwick, The (1987)  2.500000  средний рейтинг

### Задание 2

In [2]:
geo_data = pd.read_csv(r'D:\Workspace\keywords.csv')

In [3]:
regions = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [25]:
def search_region(params):
    k=[]
    for elem in regions.values():
        k.extend(elem)

    for city in k:
        if city in params:
            for region, cit in regions.items():
                if city in cit:
                    return region
                else: pass
    return 'undefined'

In [26]:
geo_data['region'] = geo_data['keyword'].apply(search_region)

In [29]:
geo_data.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [30]:
geo_data[geo_data['keyword'].isin(['владивосток', 'сахалин', 'хабаровск'])]

           keyword  shows          region
5858   владивосток  43038  Дальний Восток
9084     хабаровск  29655  Дальний Восток
21445      сахалин  14494  Дальний Восток

In [38]:
geo_data [geo_data['keyword'].str.contains('сахалин', case=False)]

,keyword,shows,region
21445,сахалин,14494,Дальний Восток
23547,южно сахалинск,13386,Дальний Восток
41988,сетевой город образование сахалинская область,7817,Дальний Восток
44291,сетевой город южно сахалинск,7515,Дальний Восток
58451,погода в южно сахалинске,6053,Дальний Восток
68736,красная икра сеть магазинов ооо сахалинская ры...,5069,Дальний Восток