### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [64]:
data_mov = pd.read_csv(r'D:\Workspace\movies.csv')
data_rate = pd.read_csv(r'D:\Workspace\ratings.csv')

In [68]:
good_rate = data_rate[data_rate['rating']>=5.0]
full_data = data_mov.merge(good_rate, how = 'left', left_on='movieId', right_on='movieId')
full_data['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

In [67]:
full_data['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [69]:
data = pd.read_csv(r'D:\Workspace\power.csv')

In [108]:
filtered_countries = data[ ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia')) &\
((data['category']==4) | (data['category']== 12) | (data['category']==21)) &\
((data['year']>2004) & (data['year']<2010))&\
((data['quantity']>0))
                         ]

In [110]:
filtered_countries['quantity'].sum()

201719.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [147]:
tables = pd.read_html('https://fortrader.org/quotes')

In [148]:
tables[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  89.92      -0.77         -0.85        NaN
1       USDRUB Курс рубля к доллару  74.51      -0.20         -0.26        NaN

In [149]:
tables[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,64.45,-2.69,-4.01,NaN
1,Нефть WTI Цены на нефть WTI,61.62,-1.81,-2.85,NaN
2,Природный газ Цена на природный газ,2.76,0.00,0.11,NaN
3,Кофе,137.40,-1.45,-1.04,NaN
4,Кукуруза,555.00,1.00,0.18,NaN
5,Соя,424.20,1.10,0.26,NaN
6,Хлопок,88.83,-0.86,-0.96,NaN